

@media screen and (max-width: 600px){
    #horizontal{
        flex-direction: column;
        align-items: center;
    }
    .project{
        width: 80%;
    }

    #vertical{
        max-height: none;
    }

    section{
        height: auto
    }

    section ul{
        margin-bottom: 0;
    }
}
