

@media screen and (max-width: 600px){
    #horizontal{
        flex-direction: column;
        align-items: center;
    }
    .project{
        width: 80%;
    }

    #vertical{
        max-height: none;
    }

    section{
        height: auto
    }

    section ul{
        margin-bottom: 0;
    }
    #typed{
        display: none;
    }
    #mobile{
        color: #ffffff;
        font-size: 50pt;
        margin-top: 0;
        margin-bottom: 2%;
        font-family: "Roboto Mono", monospace;
        font-weight: bold;
        min-height: 89px;
        display: initial;
    }
}
